* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #cacaca;
  display: grid;
  place-items: center;
}
